.container-fluid{
    padding: 0;
}
.menu-container{
    position:absolute;
    height:100vh;
    padding-top: 100px;
    top:0;
}
.content-area{
    position:relative;
    left: 200px;
    margin-right:-200px;
}